---
import MainLayout from "../layouts/main.layout.astro";
const TECHNOLOGIES = [
  "React",
  "Node",
  "Tailwind",
  "TypeScript",
  "Express",
  "Redux",
  "Framer Motion",
  "Next.js",
  "Styled Components",
];
---

<MainLayout title="home page">
  <div class="px-2 flex flex-col gap-6 md:mx-auto flex-2 justify-evenly md:w-1/2">
    <div>
    <h1 class="text-xl lg:text-4xl">
      <span class="font-sans font-bold">Hello!</span> I am Jay Rajput, a <span
        class="font-sans font-bold text-primary"
        >full-stack developer
      </span>
       based from Mumbai, India
    </h1>
    <p class="lg:text-xl">I specialize in turning ideas and concepts into interactive realities</p>
  </div>
  <div class="lg:text-2xl">
    <p>technologies I know:</p>
    <!-- React, Node, Express, TypeScript, Redux,
    Next.js, Framer Motion, Styled Components, and Tailwind CSS. -->
    <div class="flex flex-row flex-wrap gap-3">
      {
        TECHNOLOGIES.map((item) => {
          return (
            <span class="p-1 border-2 border-solid border-buttonText  rounded-md text-buttonText bg-primary font-bold">
              {item}
            </span>
          );
        })
      }
    </div>
  </div >
    <a href="/blog" class="underline text-lg  lg:text-2xl">checkout my blogs</a>
  </div>
</MainLayout>
