---
const { title } = Astro.props;
import Navbar from "../components/Navbar";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <ViewTransitions />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col gap-4 py-2 px-4 bg-customBackground h-screen text-bodyText justify-between"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
